
.modal.fade.login_dialog, #w3lssbmincart.checkout_dialog{
    display: block;
}
#horizontalTab.login .tab-1.resp-tab-content{
display: block;
}
#horizontalTab.register .tab-2.resp-tab-content{
    display: block;
}
.w3l_login .username{
    color: red;
    font-size: large;
    font-weight: bolder;
}

.logo{
    display: inline-block;
    width: 204px;
    /* height: 127px; */
    padding-left: 28px;
    margin-top: -30px;
}
.container{
    display: inline-block;
    margin-left: 93px;
}

.agile_ecommerce_tab_left{
    margin-bottom: 5%;
}

.sticky-header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
	
}